html, body {
	height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	height: 100%;
	margin: 0;
	background: #BFD8D2;
	h1 {
		color: #DF744A;
		text-align: center;
		padding: 1.5em 0;
	}
}

#winnerOutput {
	text-align: center;
    margin-top: 1.5em;
    font-size: 2.25em;
    color: #535353;
    background: #efabb7;
}

.c-choice {
	&__spacer {
		width: 18%;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
	}
	&__container {
		width: 40%;
		display: inline-block;
		text-align: center;
		vertical-align: top;
	}
	&__heading {
		color: #DF744A;
		font-size: 1.5em;
	}
	&__choices {
		display: inline-block;
	}

	&__item {
		display: inline-block;
		margin: 0 0.75em;
		cursor: pointer;
		font-size: 1.75em;
		color: #535353;

		&.selected {
			color: #DCB239;
		}
	}
}

.c-button {
	background: #fff;
    padding: 1.5em;
    color: #535353;
    min-width: 9em;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
    display: block;
    font-size: 0.875em;
    border-radius: 3px;
    display: none;
    &__go {
    	border: 1px solid #DCB239;
	    &:hover {
	    	background: #DCB239;
	    	color: #FFF;
	    }
	}
	&__reset {
		border: 1px solid #FEDCD2;
		&:hover {
	    	background: #FEDCD2;
	    }
	}
}



