<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
	<h1 class="c-choice__title">Let's play rock paper scissors!</h1>
	<div class="c-choice__winner" id="winnerOutput"></div>
	<button class="c-button__computer c-button" id="computerPlay">Computer vs. Computer</button>
	<div class="c-choice__container">
		<p class="c-choice__heading c-choice__firstUser">Player 1 chooses...</p>
		<div class="c-choice__choices">
			<h4 class="c-choice__item" id="rock">Rock</h4>
			<h4 class="c-choice__item" id="paper">Paper</h4>
			<h4 class="c-choice__item" id="scissors">Scissors</h4>
		</div>
		<div class="c-choice__item" id="player1Output"></div>
	</div>
	<div class="c-choice__spacer">
		<p class="versus">Vs</p>
	</div>
	<div class="c-choice__container">
		<p class="c-choice__heading">Player 2 chooses...</p>
		<div class="c-choice__item" id="computerOutput"></div>
	</div>
	<button class="c-button__go c-button" id="computerButton">Go</button>
	<button class="c-button__reset c-button" id="resetButton">Reset</button>
</body>
</html>
